<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uniandrade.br.edu.com.popseries">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.AmigosActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.DetalhesActivity" />
        <activity android:name=".views.CadastroActivity" />
        <activity android:name=".views.PesquisarActivity" />
        <activity android:name=".views.AjudaActivity" />
        <activity android:name=".views.SobreActivity" />
        <activity android:name=".views.ProfileActivity" />
        <activity
            android:name=".views.SearchableActivity"
            android:launchMode="singleTop" />
        <activity android:name=".views.ComentariosActivity" />
        <activity android:name=".views.MeusComentariosActivity" />
        <activity android:name=".views.AvaliacaoActivity" />
        <activity android:name=".views.AdministradorActivity" />
        <activity android:name=".views.ListaUsuariosActivity" />
        <activity android:name=".views.ListaModeradoresActivity" />
        <activity android:name=".views.ListaComentariosReportadosActivity"></activity>
    </application>

</manifest>